<h1>
  {{title}}
</h1>
{{!-- form for the editing --}}
<form method="POST" style="background-color: #fff;">
  {{! Input names have to match the name of the fields in the mongo schema object }}
  {{! Mapping is not automatic, but it's best practices }}
  <fieldset>
    <label for="course" class="col-2">
      TaskName:
    </label>
    <select name="course" id="course">
      {{#each courses}}
      <!--<option>{{this.name}}</option>-->
      {{!-- Modify this block of code with a helper method (app.js) to add a selected option --}}
      {{createOption this.name ../project.course }}
      {{/each}}
    </select>
  </fieldset>
  <fieldset>
    <label for="dueDate" class="col-2">
      DeadLine:
    </label>
    <input name="dueDate" id="dueDate" required type="date" value="{{toShortDate project.dueDate}}" />
  </fieldset>
  <fieldset>
    <label for="name" class="col-2">
      Description:
    </label>
    <input name="name" id="name" required value="{{project.name}}" />
  </fieldset>

  {{!-- Add fieldsets for Status --}}
  <fieldset>

    <label for="status" class="col-2">
      Priority:
    </label>
    <select name="status" id="status">
      {{!-- Hardcode values as these won't change --}}
      {{!-- <option>TO DO</option>
      <option>IN PROGRESS</option>
      <option>DONE</option> --}}
      {{!-- Use helper instead --}}
      {{createOption 'High' ../project.status}}
      {{createOption 'Regular' ../project.status}}
      {{createOption 'Low' ../project.status}}
    </select>
  </fieldset>
  {{! Button needs to be inside <form> element to trigger POST }}
    <button class="offset-3 btn btn-primary">
      Save
    </button>
  </form>
